body{
    font-family: IRANSans !important;
    overflow-x: hidden;
}
.HeaderText{
    font-size: 1.2rem;
}
#clockdiv{
    font-size: 25px;
    font-family: IRANSans;
}
.UnderTimeText{
    font-size: 15px;
}
.BuyText input{
    font-size: 25px;
}
.Test{
    background-color: #00BFD6 !important;
}